* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    background: linear-gradient(135deg, #1b0036, #3a0ca3, #7209b7);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    overflow: hidden;
    padding: 15px;
}

/* Background bintang */
.stars {
    position: fixed;
    width: 100%;
    height: 100%;
    background: radial-gradient(white 1px, transparent 1px);
    background-size: 50px 50px;
    opacity: 0.2;
    z-index: 0;
}

/* Card */
.card {
    position: relative;
    background: rgba(255, 255, 255, 0.18);
    backdrop-filter: blur(12px);
    padding: 25px 20px;
    border-radius: 25px;
    width: 100%;
    max-width: 360px;
    text-align: center;
    color: white;
    box-shadow: 0 0 30px rgba(255, 0, 255, 0.35);
    animation: float 4s ease-in-out infinite;
    z-index: 2;
}

@keyframes float {
    0%, 100% { transform: translateY(0); }
    50% { transform: translateY(-8px); }
}

.badge {
    font-size: 12px;
    background: rgba(255,255,255,0.25);
    padding: 6px 14px;
    border-radius: 20px;
    display: inline-block;
    margin-bottom: 10px;
}

h1 {
    font-size: 24px;
    line-height: 1.2;
}

h1 span {
    color: #ffd6ff;
}

.card img {
    width: 100%;
    max-width: 220px;
    height: 300px;              /* tinggi foto */
    object-fit: cover;          /* auto crop rapi */
    object-position: center;    /* fokus tengah */
    border-radius: 20px;
    margin: 18px auto;
    box-shadow: 0 10px 25px rgba(0,0,0,0.5);
}



p {
    font-size: 14px;
    line-height: 1.6;
}

.small {
    margin-top: 8px;
    font-size: 13px;
    opacity: 0.9;
}

/* Button */
button {
    margin-top: 18px;
    padding: 12px 20px;
    border: none;
    border-radius: 30px;
    background: linear-gradient(135deg, #ff70a6, #ffd6ff);
    color: #3a0ca3;
    font-weight: bold;
    font-size: 15px;
    cursor: pointer;
    width: 100%;
}

button:active {
    transform: scale(0.97);
}

/* Efek jatuh */
.fall {
    position: fixed;
    top: -10px;
    pointer-events: none;
    animation: fall linear forwards;
    opacity: 0.85;
    z-index: 1;
}

@keyframes fall {
    to {
        transform: translateY(110vh) rotate(360deg);
        opacity: 0;
    }
}
